
<div class="img-collections">
    <% for(let coleccion of collection) { %> 
        <a href="/products/collections/<%= coleccion.name %>">
            <img src="/images/logos/<%= coleccion.image %>" alt="" width="4%">
        </a>
    <% } %>
</div>

<h1>COLLECTION</h1>
<div class="img-collections">
    <% for(let coleccion of collection) { %> 
        <a href="/products/collections/<%= coleccion.name %>">
            <img src="/images/logos/<%= coleccion.image %>" alt="" width="23%">
        </a>
    <% } %>
</div>


