<header>
    <div class="top-navbar">
        <nav>
            <ul class="login">
                <% if (locals.isLogged) { %>
                    <img src="/images/users/<%= locals.userLogged.image %>" alt="" width="50px" str>
                    <%= locals.userLogged.name + ' ' + locals.userLogged.lastName %>

                    <li><a href="/users/profile"><i class="fas fa-portrait"></i></a></li>
                    <li><a href="/users/logout">logout</a></li>
                <% } else {%>
                    <li><a href="/users/register">registrarse</a></li>
                    <li><a href="users/login">ingrersar</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
    <section class="middle">
        <figure class="logo">
            <img src="/images/logos/Jabbas.png" alt="Logo de Jabba's">
        </figure>
        <section class="search-bar">
            <form action="/search" method="GET" class="search-form">
                <input type="text" name="keywords" placeholder="Encontra tu veneno" class="search-form-input">
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </form>
        </section>
    </section>
</header>