<%- include('../partials/head')  %> 

<main>
    <section class="profile-container">
        <section class="user-image">

        </section>
        <section class="user-data">
            
        </section>
    </section>
</main>